/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#contatti-header {
    color: cornflowerblue;
}

#nav-header {
    color: lightgray;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

 th .asc {
  background-image: url('/images/up_arrow.gif');
}

 th .desc {
  background-image: url('/images/down_arrow.gif');
}

.paginate-container {
	width: 1246px;
}

.pagination {
		text-align: center;
        font-size: 11px;
        margin: 0;
        padding: 3px 0 4px;
    }
        .pagination a,
        .pagination span {
            padding: 3px 3px 2px;
        }
        .pagination .disabled {
            background:none repeat scroll 0 0 transparent;
            border:medium none;
            color:#999999;
            cursor:default;
        }
        .pagination a {
            color:#3B5998;
            cursor:pointer;
            text-decoration:none;
        }
        .pagination a:hover {
            background-color:#3B5998;
            border-bottom:1px solid #3B5998;
            border-color:#D8DFEA #D8DFEA #3B5998;
            color:#FFFFFF;
            text-decoration:none;
        }
        .pagination .current {}
            .pagination .current {
                border-bottom:2px solid #3B5998;
                border-color:#3B5998;
                color:#3B5998;
                font-weight:bold;
                padding-left:2px;
                padding-right:2px;
            }
            .pagination .current a:hover {
                background-color:#3B5998;
                color:#FFFFFF;
            }

        .pagination .prev_page {

        }
        .pagination .next_page {

        }